<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCon">

  Search name:<input type="text"  placeholder="search students name and gender" ng-model="searchT" />

  <br />
  <table border="1px solid black">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
  <tr ng-repeat="student in students|filter:search">
      <td>{{student.name}}</td>
      <td>{{student.DOB}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.salary}}</td>
    </tr>
    </tbody>
  </table>

</div>
<script>
var app=angular.module("myApp",[]);

app.controller("myCon",function($scope){
  var students=[
    {name:'Ben',DOB:new Date('November 23,1980'),gender:'Male',salary:'55500.745'},
    {name:'jen',DOB:new Date('September 03,1980'),gender:'female',salary:'6700.5667'},
    {name:'Den',DOB:new Date('January 13,1981'),gender:'Male',salary:'5500.45'}
  ];

    $scope.students=students;
    $scope.search= function(item){
      if($scope.searchT==undefined){
        return true;
      }
      else if(item.name.toLowerCase().indexOf($scope.searchT.toLowerCase())!= -1 || item.gender.toLowerCase().indexOf($scope.searchT.toLowerCase())!= -1){
        return true;
      }
      else
      return false;
    }
})
</script>
</body>
